<h2 mat-dialog-title class="title">Tell me who you are and {{title.toLowerCase()}}</h2>
<div mat-dialog-content>
  <form name="authForm" #authForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="authEmail" [(ngModel)]="email" matInput placeholder="Email" [formControl]="emailControl" required>
      <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="data.dialogType === dialogType.SignUp">
      <input name="authUserName" [formControl]="nameControl" [(ngModel)]="userName" matInput placeholder="Username"
        required>
      <mat-error *ngIf="nameControl.invalid">{{getUserNameErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input name="authPassword" [(ngModel)]="password" matInput [type]="hidePass ? 'password' : 'text'"
        placeholder="Password" [formControl]="passwordControl" required>
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="passwordControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
  </form>
</div>
<div class="actions">
  <button mat-raised-button (click)="close()">Back</button>
  <button mat-raised-button color="primary" [disabled]="isFromInvalid()"
    (click)="data.dialogType === dialogType.SignUp ? signUp() : signIn()">{{title}}</button>
</div>