<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <div class="comment-header-icons" *ngIf="currentUser?.id === comment.author.id">
      <button mat-icon-button color="primary" [disabled]="editingMode" (click)="editComment()">
        <mat-icon aria-label="Edit" title="Edit">create</mat-icon>
      </button>
      <button mat-icon-button color="primary" [disabled]="editingMode" (click)="deleteComment()">
        <mat-icon aria-label="Delete" title="Delete">delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="!editingMode">{{comment.body}}</p>
    <input matInput *ngIf="editingMode" type="text" [value]="comment.body" #editingElement>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-stroked-button *ngIf="editingMode" color="warn" class="done-button"
      (click)="onEditingDone()">Done</button>
    <button mat-icon-button color="primary" matTooltipPosition="above" matTooltip="{{usersWhoLiked.join('\n')}}"
      (click)="likeComment(true)">
      <mat-icon aria-label="Like" matBadge="{{likes}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="likes === 0">favorite</mat-icon>
    </button>
    <button mat-icon-button color="warn" matTooltipPosition="above" matTooltip="{{usersWhoDisliked.join('\n')}}"
      (click)="likeComment(false)">
      <mat-icon aria-label="Dislike" matBadge="{{disLikes}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="disLikes === 0">sentiment_very_dissatisfied</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>