<h1 mat-dialog-title>Share this post</h1>
<div mat-dialog-content>
    <mat-form-field class="text-editing">
        <mat-label>Receiver's email</mat-label>
        <input matInput type="email" placeholder="example@mail.com" [formControl]="emailControl">
        <mat-error *ngIf="emailControl.invalid">{{GetErrorMEssage()}}</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button [disabled]="emailControl.invalid" (click)="share()" [disabled]="loading">Send</button>
    <button mat-button mat-dialog-close>Back</button>
</div>