<mat-card class="main-content align-center">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <div class="avatar-container" (click)="file.click()">
    <input hidden class="file-hide" #file accept="image/*" type="file" (change)="handleFileInput($event.target)">
    <img class="avatar avatar-style" src="{{user.avatar}}" alt="Here should be an avatar">
    <div class="img-text">
      Upload
    </div>

  </div>
  <form name="userForm" #userForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="email" [formControl]="emailControl" [(ngModel)]="user.email" matInput placeholder="Email" required>
      <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input style="padding-top: 0.1em;" name="username" [formControl]="nameControl" [(ngModel)]="user.userName"
        matInput placeholder="Username" required>
      <mat-error *ngIf="nameControl.invalid">{{getUserNameErrorMessage()}}</mat-error>
    </mat-form-field>
  </form>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="saveNewInfo()"
      [disabled]="emailControl.invalid || nameControl.invalid">
      Save
    </button>
    <button mat-raised-button (click)="goBack()">
      Back
    </button>
  </div>
</mat-card>