<h1 mat-dialog-title>Are you sure?</h1>
<div mat-dialog-content>
    <p>This post will be irreversibly deleted</p>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="delete()" [disabled]="loading">Yes, I am</button>
    <button mat-button mat-dialog-close>Oops, no</button>
</div>