/* You can add global styles to this file, and also import other style files */
html,
body
    height: 100%
    margin: 0
    font-family: 'Roboto', sans-serif
    font-size: 16px

.dialog-backdrop
    background: rgba(255, 255, 255, 0.7)

.avatar
    border-radius: 50%
    flex-shrink: 0
    object-fit: cover
    cursor: pointer      
    &:focus
        outline: none
    font-size: 12px

snack-bar-container
    &.error-snack-bar 
        background: #a90707
        text-align: center
    &.usual-snack-bar 
        text-align: center
    & span 
        width: 100%

img
    font-size: 13px

.mat-spinner-wrapper 
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    z-index: 1002
    background-color: rgba(255, 255, 255, 0.5)
    width: 100%
    height: 100%

.mat-tooltip
    white-space: pre-line

.image-container
    position: relative
    width: fit-content
    .mat-icon
        display: none
    &:hover
        .mat-icon
            display: inline-block
            position: absolute
            right: -20px
            top: -7px
            cursor: pointer

.in-center
    position: absolute
    top: 50%
    left: 50%
    -moz-transform: translateX(-50%) translateY(-50%)
    -webkit-transform: translateX(-50%) translateY(-50%)
    transform: translateX(-50%) translateY(-50%)