.text-editing
{
    width: 100%;
}
.radio-group
{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.radio-button
{
    margin-top: 10px;
}
.post-image
{
    width: auto;
    height: 100px;
    max-width: 100%;
    margin: 10px auto;
}