<h1 mat-dialog-title>Post editing</h1>
<div *ngIf="loading" class="in-center">
    <mat-spinner></mat-spinner>
</div>
<div mat-dialog-content>
    <mat-form-field class="text-editing">
        <mat-label>Edit your post and press Ok</mat-label>
        <textarea matInput [(ngModel)]="body"></textarea>
    </mat-form-field>
    <mat-radio-group class="radio-group" [(ngModel)]="radioButtonPhoto">
        <mat-radio-button value="new">Select another photo</mat-radio-button>
        <div *ngIf="showSelectNewPhoto">
            <mat-card-content>
                <div class="image-container">
                    <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
                    <img mat-card-image class="post-image" *ngIf="imageUrl" mat-card-image src="{{imageUrl}}"
                        alt="Photo">
                </div>
            </mat-card-content>
            <mat-card-actions align="start">
                <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
                <button mat-icon-button color="accent" (click)="file.click()">
                    <mat-icon aria-label="Choose an image">image</mat-icon>
                </button>
            </mat-card-actions>
        </div>
        <mat-radio-button *ngIf="image != null" value="remove" class="radio-button">Remove photo</mat-radio-button>
    </mat-radio-group>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="editPost()" [disabled]="loading">Ok</button>
    <button mat-button mat-dialog-close [disabled]="loading">No</button>
</div>